<a href="https://colab.research.google.com/github/AnnaClaraObregon/AnnaClaraObregon/blob/main/Curso_Python9_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AULA PYTHON (9/10/25)**

In [ ]:
texto = "2"
texto2 =str(2)
numero = 3
numero1 = int(3)
numero2 = float(3)

print(texto)
print(texto2)
print(numero)
print(numero1)
print(numero2)

2
2
3
3
3.0

In [ ]:
print(2*numero1)
print(2*2)

6
4

In [ ]:
print("O valor da variável é: ", texto)

O valor da variável é:  2

In [ ]:
print("O valor da variável é:",texto, "e o valor da variável numero é:",numero)

O valor da variável é: 2 e o valor da aviável numero é: 3

In [ ]:
nome = input("Digite seu nome: ")
print("Olá", nome)

Digite seu nome: Caio feio
Olá Caio feio

In [ ]:
valor_uni = float(input("Digite o valor unitário: "))
quantidade = int(input("Informe a quantidade de produtos: "))
print("O valor total da compra é: ", valor_uni*quantidade)

Digite o valor unitário: 10
Informe a quantidade de produtos: 100
O valor total da compra é:  1000.0

In [ ]:
valor_uni = float(input("Digite o valor unitário: "))
quantidade = int(input("Informe a quantidade de produtos: "))
total = round(valor_uni*quantidade) #arredonda o retorno
print("O valor total da compra é: ", total)

Digite o valor unitário: 12
Informe a quantidade de produtos: 2
O valor total da compra é:  24

EXERCICIOS

In [ ]:
# EX1 - Crie um programa para efetuar a leitura de um número inteiro e apresentar o resultado do quadrado deste número
#import math
numero = int(input("Escreva um número:"))
# quadrado_numero = math.pow(numero,2)
quadrado_numero = numero*numero
print("O quadrado do número é:", quadrado_numero)

Escreva um número:10
O quadrado do número é: 100

In [ ]:
# EX2
caractere1 = input("Escreva o primeiro caractere:")
caractere2 = input("Escreva o segundo caractere:")
print(f"O usuário digitou {caractere1} e {caractere2}")

Escreva o primeiro caractere:oi
Escreva o segundo caractere:ei
O usuário digitou oi e ei

In [ ]:
# EX3
numero = int(input("Escreva um número:"))
sucessor = numero+1
antecessor = numero-1
print("Seu antecessor é",antecessor )
print("Seu sucessor é", sucessor)

Escreva um número:2
Seu antecessor é 1
Seu sucessor é 3

In [ ]:
# EX4
A = int(input("Escreva lado A: "))
B = int(input("Escreva lado B: "))
area = A*B
perimetro = 2*(A+B)
print("Área é:",area)
print("Perimetro é:", perimetro)

Escreva lado A: 2
Escreva lado B: 3
Área é: 6
Perimetro é: 10

In [ ]:
# EX5
valor = float(input("Escreva o valor: "))
taxa = float(input("Escreva o taxa: "))
tempo = int(input("Escreva a tempo: "))

prestacao = valor+(valor*(taxa/100)*tempo)
print("O valor da sua prestação em atraso é:", prestacao)

Escreva o valor: 10
Escreva o taxa: 12
Escreva a tempo: 1
O valor de sua prestação em atraso é: 11.2